*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    height: 100vh;

  }

.conteneur {
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteneur_2 {
    display: flex;
}

  .mini_association {
    max-width: 48%;
    max-height: 400px;
    min-height: 400px;
    border: 1px solid black;
    margin: 25px;

  }


  .logo {
    width: 17%;
    height: 17%;
    margin: 10px;
    border-radius:50%;
    border: 1px solid black;
  }

  .information {
    font-size: 1.8vw;
    margin-top: 65px;
    font-weight: 900;
  }
  .résumé {
    width: 80%;
    margin-left: 18%;
    font-size: 1.2vw;
  }

  .lien_officielle {
    margin-left: 18%;
     font-size: 1vw;
    }

  .boutons {
    background-color: #5e17eb;
    color: #ffffff;
    padding: 1vw 2vw; 
    border-radius: 10px;
    font-size: 0.8vw;
    margin-left: 32%;
    margin-right: 2%;
    margin-top: 10px;
    margin-bottom: 1.5%;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s ease;
  }
  .boutons:hover {
    background-color: #5500ff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

